Answer each question by doing some operations with Python. Put conclusion in the comments

1.1 For the following variables, use the function type() from Python to check the data type for the variables.

In [1]:
x1 = 1.1
x2 = "Monday"
x3 = "1.1"
x4 = True
x5 = "True"
x6 = -1

1.2 What is the difference between variables x1 and x3?

In [3]:
# type(x1)
print("x1:", type(x1))

# x1 is a float (numeric value), whereas x3 is a string (text) representation of the number.

x1: <class 'float'>
x3: <class 'str'>

In [8]:
print("x3:", type(x3))

x3: <class 'str'>

1.3 What happens if you subtract x3 from x1?

In [4]:
x1 = 1.1
x3 = "1.1"

result = x1 - x3

#You cannot subtract a string (x3) from a float (x1) directly because they are of different data types.

TypeError: unsupported operand type(s) for -: 'float' and 'str'

1.4 What is the difference between variables x4 and x5?

In [6]:
print("x4:", type(x4))
# x4 is a Boolean (bool), meaning it represents a logical value: True or False.

x4: <class 'bool'>

In [7]:
print("x5:", type(x5))
# x5 is a String (str), meaning it is just the text "True" and NOT a Boolean.

x5: <class 'str'>

1.5 What happens if you subtract x5 from x4?

In [ ]:
# You cannot subtract a string (x5) from a Boolean (x4).
# Python does not support arithmetic operations between different incompatible types like bool and str.

TypeError: ignored

2.1 To gather input from the user, we can use the function input(message), where “message” is a meaningful message of type str and will be displayed to the user.

In [9]:
name = input("Please enter your name: ")

print("Hello,", name)

# The input() function is used to take input from the user.
# The argument passed inside input() is a message of type str that is displayed as a prompt.

Please enter your name: manoj
Hello, manoj

Question 1: Print the values of the two variables? As you might have noticed, data type of x1 and x2 is string. Even though we entered integers, the input function converts them into string by default. Now we do some data type conversion from string to integers:

In [11]:
x1 = input("Enter the first number: ")
x2 = input("Enter the second number: ")

print("Value of x1:", x1)
print("Value of x2:", x2)

print("Type of x1 before conversion:", type(x1))
print("Type of x2 before conversion:", type(x2))

x1 = int(x1)
x2 = int(x2)

print("Type of x1 after conversion:", type(x1))
print("Type of x2 after conversion:", type(x2))

# Even though we entered numbers, input() stores them as strings.
# We must use int() to convert them into integers before performing arithmetic operations.

Enter the first number: 5
Enter the second number: 7
Value of x1: 5
Value of x2: 7
Type of x1 before conversion: <class 'str'>
Type of x2 before conversion: <class 'str'>
Type of x1 after conversion: <class 'int'>
Type of x2 after conversion: <class 'int'>

Question 2: What is the data type of x1 and x2? Now perform simple comparisons between x1 and x2:

Check if the two variables are equal?

Check if x1 is greater than x2?

Check if x2 is greater than x1?

Check if x1 is not equal to x2?

Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).

Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?

In [12]:
x1 = 5
x2 = 2

# 1. Print the data types of x1 and x2
print("Type of x1:", type(x1))
print("Type of x2:", type(x2))

Type of x1: <class 'int'>
Type of x2: <class 'int'>

In [13]:
# 2. Check if the two variables are equal
print("Are x1 and x2 equal?", x1 == x2)

Are x1 and x2 equal? False

In [14]:
# 3. Check if x1 is greater than x2
print("Is x1 greater than x2?", x1 > x2)

Is x1 greater than x2? True

In [15]:
# 4. Check if x2 is greater than x1
print("Is x2 greater than x1?", x2 > x1)

Is x2 greater than x1? False

In [16]:
# 5. Check if x1 is not equal to x2
print("Are x1 and x2 not equal?", x1 != x2)

Are x1 and x2 not equal? True

In [17]:
# 6. Store the difference between the two variables in x3 (subtract smaller from larger)
if x1 > x2:
    x3 = x1 - x2
else:
    x3 = x2 - x1
print("Difference (x3):", x3)

Difference (x3): 3

In [20]:
# 7. Increment the smaller variable by the difference using shorthand addition operator
if x1 < x2:
    x1 += x3
else:
    x2 += x3

# 8. Check if x1 and x2 are now equal
print("Are x1 and x2 equal after increment?", x1 == x2)

Are x1 and x2 equal after increment? True